.signup-page .logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.signup-page .logo img {
  max-width: 260px;
  margin-top: 20%;
}

.signup-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
  background: #ffffff url(../../img/background.jpg) no-repeat center fixed;
  background-size: cover;
}

.no-bg-color {
  background-color: rgba(254, 249, 241, 0.8) !important;

}

.center {
  text-align: center;
}

.input-label{
  width: 12% !important;
}

.gray {
  color: #afabab;
}
