<ion-view>
  <ion-content class="login-container" scroll="false">
    <div class="login-page">
      <div class="logo">
        <img src="img/logo.png">
      </div>

      <label class="item item-input no-bg-color">
        <span class="input-label"><i class="fa fa-envelope gray" aria-hidden="true"></i></span>

        <input type="text" placeholder="Email" ng-model="account.user.email">
      </label>

      <label class="item item-input no-bg-color">
        <span class="input-label"><i class="fa fa-unlock-alt gray" aria-hidden="true"></i></span>

        <input type="password" ng-model="account.user.password" placeholder="Senha">
      </label>

      <button class="button button-block button-assertive activated" ng-class="account.clicked ? 'activated' : ''" ng-click="account.login()">Acessar</button>

      <p class="text-center">
        ou crie sua <b><a ui-sref="signup">conta</a></b>
      </p>
    </div>
  </ion-content>
</ion-view>
